<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>uneevfba.urpx@tznvy.pbz</string>
	<key>contactName</key>
	<string>Harrison Heck</string>
	<key>description</key>
	<string>A dark theme</string>
	<key>name</key>
	<string>Dracula</string>
	<key>uuid</key>
	<string>BE1EEB52-014D-49EE-B7D0-5E3B1F42FDBD</string>
</dict>
</plist>
